:root {
    --container-padding-vertical: 10px;
    --container-padding-horizontal: 20px;
    --input-padding-vertical: 10px;
    --input-padding-horizontal: 6px;
    --input-margin-vertical: 4px;
    --input-line-height: 1.5em;
    --message-padding-vertical: 10px;
    --message-padding-horizontal: 20px;
    --message-margin-vertical: 5px;
    --message-line-height: 1.5em;
}

html {
    height: 100%;
}

body {
    padding: 0 0 var(--container-padding-vertical) 0;
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
}

ol,
ul {
    padding-left: var(--container-padding-horizontal);
}

*:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

a {
    color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
    color: var(--vscode-textLink-activeForeground);
}

code {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
    background-color: transparent;
}

button {
    border: none;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    width: 100%;
    text-align: center;
    outline: 1px solid transparent;
    outline-offset: 2px !important;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
}

button:hover {
    cursor: pointer;
    background: var(--vscode-button-hoverBackground);
}

button:focus {
    outline-color: var(--vscode-focusBorder);
}

button.secondary {
    color: var(--vscode-button-secondaryForeground);
    background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
    background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type='checkbox']),
textarea {
    display: block;
    border: none;
    font-family: var(--vscode-font-family);
    line-height: var(--input-line-height);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-editor-foreground);
    outline-color: var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    border-radius: 3px;
}
input::placeholder,
textarea::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

textarea {
    padding: 0;
    resize: none;
    max-height: 15em;
}
textarea::-webkit-scrollbar {
    width: 0 !important;
}


/* Chat files */

.chat-files {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.chat-files li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: var(--input-padding-vertical) var(--container-padding-horizontal);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-input-background);
    vertical-align: middle;
}

.chat-files i {
    cursor: pointer;
}

/* Chat output */

.chat-output {
    padding-top: var(--container-padding-vertical);
    flex-grow: 1;
    overflow-y: auto;
}

.chat-output .placeholder {
    display: block;
    padding: 0 var(--container-padding-horizontal);
    color: var(--vscode-editor-foreground);
}

.chat-output .message {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--message-padding-vertical) var(--message-padding-horizontal);
    border-bottom: 3px solid var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}
.chat-output .message:first-of-type {
    padding-top: 0;
}
.chat-output .message:last-of-type {
    border-bottom: none;
}

.chat-output .message .header {
    font-weight: 600;
}

.chat-output .message .code {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.chat-output .message .code pre span {
    color: var(--vscode-editor-foreground);
}
.chat-output .message .code pre span.add {
    color: #98c379;
}
.chat-output .message .code pre span.remove {
    color: #e06c75;
}

/* Chat input */

.chat-input {
    margin: 0 var(--container-padding-horizontal);
}

.chat-input .input-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    background-color: var(--vscode-input-background);
    border-radius: 3px;
}

.chat-input .settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.chat-input .settings .model-select {
    position: relative;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 2em;
    user-select: none;
}

.chat-input .settings .model-select > .codicon,
.chat-input .settings .model-select > .model-name {
    vertical-align: middle;
    color: var(--vscode-editor-foreground);
}

.chat-input .settings .model-options {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
}
.chat-input .settings .model-select.open .model-options {
    display: block;
}

.chat-input .settings .model-options > div {
    padding: 0 var(--input-padding-horizontal);
    color: var(--vscode-editor-foreground);
    /* text-align: right; */
    cursor: pointer;
}
.chat-input .settings .model-options > div:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.chat-input textarea {
    flex-grow: 1;
    background-color: transparent;
}

.chat-input .submit {
    width: 20px;
    padding-left: var(--input-padding-horizontal);
    text-align: center;
}
.chat-input .submit .codicon {
    vertical-align: middle;
    cursor: pointer;
}
.chat-input .autocomplete {
    position: absolute;
    left: 0;
    bottom: 100%;
    display: none;
    background-color: var(--vscode-input-background);
}
.chat-input .autocomplete .option {
    padding: 3px var(--input-padding-horizontal);
    color: var(--vscode-editor-foreground);
    cursor: pointer;
}
.chat-input .autocomplete .option.selected {
    background-color: var(--vscode-button-hoverBackground);
}